.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.primary-font {
  font-family: "Source Sans Pro", sans-serif;
}

.primary-font.semibold {
  font-weight: 400;
}

.custom-input {
  height: 35px !important;
  border: 0.5px solid #666;
  border-radius: 5px;
  padding-left: 5px !important;
  box-shadow: 1px 2px 2px 2px #eeeeee;
  font-family: "Source Sans Pro", sans-serif;
}

.custom-input:focus {
  border: 1.5px solid #ca3636;
}

.button {
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #eeeeee;
  color: #ca3636;
  font-size: 14px;
  text-decoration: none;
}

.button.active {
  background-color: #ca3636;
  color: white;
}

.MuiDataGrid-viewport,
.MuiDataGrid-row,
.MuiDataGrid-renderingZone {
  max-height: fit-content !important;
}

.MuiDataGrid-cell {
  max-height: fit-content !important;
  overflow: auto;
  white-space: initial !important;
  line-height: 16px !important;
  display: flex !important;
  align-items: center;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.MuiDataGrid-main {
  box-shadow: 1px 2px 2px 2px #eeeeee;
  border: 0.5px solid #666;
  border-radius: 5px;
}
